{% extends 'base.html' %}

{% block content %}
  <h1>{{ object.title }}</h1>
  <div>{{ object.content|safe }}</div>
  <hr/>
  {% block comments %}
    {% include 'comments.html' %}
  {% endblock comments %}
{% endblock content %}
