{% load i18n static comments comments_xtd simpelpages_tags %}

{% get_comment_count for object as comment_count %}
<div class="comments-wrapper">
  <div class="d-flex justify-content-between mb-3 pb-3">
    {% get_simpel_pages '/' as index_page %}
    <a class="align-items-center d-flex nowrap" href="{{ index_page.first.url }}">
      <i class="mdi mdi-18px mdi-arrow-left me-2"></i>
      <span>{% trans "Back to the" %} {{ object.opts.verbose_name_plural }}</span>
    </a>
    <span class="nowrap">{{ comment_count }} comment{{ comment_count|pluralize }} ha{{ comment_count|pluralize:"s,ve" }} been posted.</span>
  </div>
  {% if comment_count %}
    <div class="comments mb-4">
      {% render_xtdcomment_tree for object allow_flagging allow_feedback show_feedback %}
    </div>
  {% endif %}
  {% if object.allow_comments %}
    {% if object|can_receive_comments_from:user %}
      <h4 class="fw-bold fs-5 mb-3">{% trans "Leave your comments." %}</h4>
      {% render_comment_form for object %}
    {% else %}
      <p class="p-4 bg-light rounded text-center">
        {% trans "Only registered users can post a comments. Please" %}, <a href="{% url 'account_login' %}?next={{ object.get_absolute_url }}">{% trans "Sign In" %}</a>.
      </p>
    {% endif %}
  {% else %}
    <h4 class="fw-bold fs-5 mb-3">
      {% trans "Comments are disabled for this page." %}
    </h4>
  {% endif %}
</div>
